<%- include('../partials/header.ejs') %>
    <form action="/books" method="POST">

        <label for="">Title</label><input type="text">
        <br>
        <label for="">Author</label><input type="text">
        <br>
        <label for="">Country</label><input type="text">
        <br>
        <label for="">Language</label><input type="text">
        <br>

        <button type="submit">submit</button>
    </form>
    <%- include('../partials/footer.ejs') %>